<div class="component-two-col">
  {{#with left}}
  <div class="col col-left">
    <h3>{{title}}</h3>
    {{{content}}}
  </div>
  {{/with}}

  {{#with right}}
  <div class="col col-right">
    <h3>{{title}}</h3>
    {{{content}}}
  </div>
  {{/with}}
</div>
